@page "/game"
@inject NavigationManager Navigation
@inject SignalRService SignalRService

<h3>Game</h3>

<p>@RoomCode</p>

<input type="text" @bind="roomCodeEnter" />
<input type="text" @bind="userName" />

<button @onclick="ConnectToRoom">Connect to room</button>
<button @onclick="CreateRoom">Create room</button>

@using Client.Services
@using Microsoft.AspNetCore.SignalR.Client
@using System.Threading.Tasks
@code {

    private string roomCodeEnter = null!;
    private string userName = null!;

    private string user = "BlazorUser";
    private string message = "";
    private List<string> messages = new();

    private string RoomCode = "Room code: ";

    protected override async Task OnInitializedAsync()
    {
        await Connect();
    }

    private async Task Connect()
    {

        await SignalRService.StartConnectionAsync("http://localhost:5100/Game");
    }

    private async Task CreateRoom()
    {
        if (SignalRService.IsConnected)
        {
            var roomName = await SignalRService.Connection.InvokeAsync<string>("CreateRoom");

            Navigation.NavigateTo($"/game/admin/{roomName}");
        }
    }

    private async Task ConnectToRoom()
    {
        if (SignalRService.IsConnected)
        {
            await SignalRService.Connection.InvokeAsync("ConnectToRoom", roomCodeEnter, userName);
            Navigation.NavigateTo($"/game/{roomCodeEnter}");
        }
    }
}
